<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<% origin = JSON.parse( Spree::Config.taxcloud_origin )  %>

<h1><%= t('taxcloud_settings') %></h1>

<table>
  <tr>
    <th scope="row"><%= t("taxcloud_api_login_id") %>:</th>
    <td><%= Spree::Config.taxcloud_api_login_id %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("taxcloud_api_key") %>:</th>
    <td><%= Spree::Config.taxcloud_api_key %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("taxcloud_product_taxability_code") %>:</th>
    <td><%= Spree::Config.taxcloud_product_tic %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("taxcloud_shipping_taxability_code") %>:</th>
    <td><%= Spree::Config.taxcloud_shipping_tic %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("usps_user_id") %>:</th>
    <td><%= Spree::Config.taxcloud_usps_user_id %></td>
  </tr>

  <tr>
    <th scope="row"><%= t("business_address") %>:</th> 

    <td><table>
<tr><td><%= Spree.t("address1") %>: <%= origin["Address1"]  %> </td></tr>
<tr><td><%= Spree.t("address2") %>: <%= origin["Address2"]  %></td></tr>
<tr><td><%= Spree.t("city") %>: <%= origin["City"]  %></td></tr>
<tr><td><%= Spree.t("state") %>: <%= origin["State"]  %></td></tr>
<tr><td><%= Spree.t("zipcode") %>: <%= origin["Zip5"]  %></td></tr>
<tr><td><%= t("zip_plus_4") %>: <%= origin["Zip4"] %></td></tr>
</table></td>
  </tr>    
</table>

<p><%= link_to_with_icon 'edit', Spree.t("edit"), edit_admin_tax_cloud_settings_path %></p>

